html {
    font-family: "Inter", sans-serif;
}

.div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 84px;
}

.a {
    color: black;
    text-decoration: none;
} 

.a-h {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.button1 {
    color: green;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
}

.button2 {
    color: azure;
    background-color: green;
    border-radius: 5px;
    width: 91px;
    height: 40px;
    border: none;
    cursor: pointer;
}


.text